.book-btn {
  margin-left: 20px;
  display: none;
}

.book-call-btn {
  background: #1357be;
  color: #fff !important;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  /* transition: background 0.3s; */
}

.book-call-btn:hover {
  background: #1357bea7;
  scale: calc(1.04);
}
.image-container {
  text-align: center; /* Center the image horizontally */
  margin-bottom: 30px; /* Add some space below the image */
}

.centered-img {
  max-width: 100%; /* Ensure the image doesn't overflow */
  height: auto; /* Maintain aspect ratio */
  display: inline-block; /* Allow the image to be treated as inline-block */
}

.hero-image {
  position: absolute;
  top: 15%;
  left: 50vh;
  z-index: 1;
  opacity: 50%;
}
@media (max-width: 900px) {
  .hero-image {
    top: 15%;
    left: 2%;
    max-width: 95%;
  }
  .book-btn {
    display: block;
  }
  .book-btn2 {
    display: none;
  }
}

@media (max-width: 480px) {
  .hero-image {
    top: 10vh;
    left: 2%;
    max-width: 100%;
  }
  .book-btn2 {
    display: none;
  }
}
